<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Yzerlang</title>

    <link rel="stylesheet" href="Markup/dist/css/language-icons.css"/>
    <link href="/language-icons/build/index.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" href="#">Yzerlang</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
    </div><!-- /.container -->
</nav>

<div id="container" class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12">
            <div class="input-group input-group-lg">
                <input autofocus type="text" class="form-control" placeholder='Enter the language code, f.e "ar"'
                       aria-describedby="sizing-addon1">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Search</button>
                  </span>
            </div>

            <hr>

            <div class="">
                <div class="languages">
                    {{#each htmlWebpackPlugin.options.language}}
                        <span class="lng lng-{{this}} _lg" title="{{this}}" id="{{this}}"></span>
                    {{/each}}
                </div>
            </div><!--/span-->
        </div><!--/span-->
    </div><!--/row-->

</div>

<script src="http://localhost:8080/webpack-dev-server.js"></script>
<script type="text/javascript" src="/language-icons/build/index.js"></script>
</body>
</html>